<li>
	{{place}}

	<button class="change-visit" data-id="{{id}}"data-newvisit="{{visit}}">
		{{#if visit}}Visit Again!{{else}}Been There!{{/if}}
	</button>

	<button class="delete-museum" data-id="{{this.id}}">DELETE!</button>
</li>
