<div class="d-flex flex-row">
	<li>
		{{place}}
		<button class="change-visit" data-id="{{id}}"data-newVisit="{{visit}}">
			{{#if visit}}Visit Again!{{else}}Been There!{{/if}}
		</button>
		<button class="delete-museum"><i  data-id="{{this.id}}" class="fas fa-dumpster trash"></i></button>
	</li>
</div>

